@import "mixins";

#header {
    text-align:center;
    color: brown;
    font-family:sans-serif;

}
#rectangle{
    width:100px;
    height:100px;
   
    border:1px solid  ;
    background-color:blue;
    
}